body {
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/tapioca-lead-1658945379.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*");
    object-fit:fill;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: cursive;
}
.boba {
    width:20%;
    margin-left: 75%;
    margin-right: 25%;
    text-align: center;
    background-color: rgba(233, 150, 122, 75%);
}
.icecream {
    width:20%;
    margin-left: 75%;
    margin-right: 25%;
    text-align: center;
    background-color: rgba(233, 150, 122, 75%);


}
.description{
    width:30%;
    background-color: rgba(86, 113, 246, 50%);
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: cursive;
    color: black;
}
.title{
    width: 500px;
    background-color: rgba(233, 150, 122, 75%);
    margin-left: auto;
    margin-right: auto;
}
li {
    list-style: none;
}
.toppings{
    font-size: 20px;
    font-family: fantasy;
    color: black;
}

